Assignment1/AssignmentClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58385/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58385/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58385/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CheckPrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService1_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrintTag_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintTag" />
  </wsdl:message>
  <wsdl:message name="IService1_PrintTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CheckPrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckPrimeNumber" message="tns:IService1_CheckPrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckPrimeNumberResponse" message="tns:IService1_CheckPrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SumOfDigits" message="tns:IService1_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumOfDigitsResponse" message="tns:IService1_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReverseString" message="tns:IService1_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReverseStringResponse" message="tns:IService1_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrintTag" message="tns:IService1_PrintTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrintTagResponse" message="tns:IService1_PrintTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SortNumbers" message="tns:IService1_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SortNumbersResponse" message="tns:IService1_SortNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService1/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService1/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintTag">
      <soap:operation soapAction="http://tempuri.org/IService1/PrintTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58385/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>